.App {
  background: url("assets/image.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head_container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.main_grid {
  margin: 0px;
}
.description_text {
  font-size: 40px;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.country_text {
  font-size: 20px;
}
.content_grid {
  display: flex;
}
.extra_content {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 600;
}
.country_text,
.extra_heading,
.searchbar_grid,
.textfield {
  margin: 0px;
}
/* .dropdown_class {
  background-color: transparent !important;
  color: #fff !important;
  opacity: 0.8;
}
.dropdown_class:hover {
  color: #000 !important;
  background-color: grey !important;
}
.dropdown_class:active {
  opacity: 0.8 !important;
  background-color: grey !important;
} */
